<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


    <div class="container">
        <div class="row">
    
            <div class="col-12">
                <table class="table table-hover shadow p-3 mb-5 bg-body rounded mt-3">
                    <tr>
                        <th>Book</th>
    
                        <th>Price</th>
                        <th>Delivery Address</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Action</th>
                        
                        
                    </tr>
                    {% for order in orders%}
                    <tr>
                        <td >
                            <div class="card " style="width: 8.5rem";>
                                <!-- Product image-->
                                
                                <img class="card" src="{{order.book.image.url}}" alt="..."  />     
                                
                            </div>
                            

                            <td>
                                <p class="">{{order.book.price}}</p> 
                             </td>
                             <td>
                                <p class="">{{order.delivery_address}}</p> 
                             </td>
                             <td>
                                <p class="">{{order.book.category.category_name}}</p> 
                             </td>
                             <td>
                                <p class="">{{order.created_date}}</p> 
                             </td>
                             <td>
                                <a href="{% url 'order-details' order.id%}" class="btn btn-outline-dark mt-auto btn-sm ">View</a>
                                 
                             </td>
                        
                            
                            
                            
                        </td>
    
                    </tr>

                    {%endfor%}

                    
                </table>
            </div>
            
            
        </div>
    </div>
    
</body>
</html>