<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-success table-striped shadow p-2 mb-2 bg-body rounded mt-4">
                    <tr>
                        <td>
                            <div class="card " style="width: 8.5rem";>
                                <!-- Product image-->
                                
                                <img class="card" src="{{order.book.image.url}}" alt="..."  />     
                                
                            </div>
                        </td>
                        <td>
                           <h4 class="fw-semibold ">Book Name</h4> {{order.book.book_name}}
                        </td>
                        <td>
                            <h4 class="fw-semibold">Description</h4> {{order.book.description}}
                         </td>
                         <td>
                            <h4 class="fw-semibold">Delivery Address</h4> {{order.delivery_address}}
                         </td>
                         <td>
                            <h4 class="fw-semibold">User</h4> {{order.user}}
                         </td>
                         <td>
                            <form action="" method="post" class="shadow-sm p-4 mb-5 bg-body rounded bg-success p-2 text-dark bg-opacity-25">
                                {%csrf_token%}
                                {{form.as_p}}
                                <input type="submit" class="btn btn-outline-dark mt-auto btn-sm" value="update">
                            </form>
                             
                         </td>

                         
                    </tr> 
                    
                    
                </table>
                  
                  
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card" style="width: 18rem;">
                    <img src="{{order.book.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{order.book.book_name}}</h5>
                      <p class="card-text">{{order.book.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Address: {{order.delivery_address}}</li>
                      <li class="list-group-item">Customer: {{order.user}}</li>
                      <li class="list-group-item">Email: {{order.user.email}}</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
            <div class="col-2">
              <form action="" method="post" class="shadow-sm p-3 mb-5 bg-body rounded">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" class="btn btn-outline-dark mt-auto btn-sm" value="update">
              </form>
            </div>
        </div> -->
    </div>
</body>
</html>