{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4">
            
        </div>
        <div class="col-4">
            
            <div class="col mb-5 shadow p-3 mb-5 bg-body rounded">
                <div class="card h-90">
                    <!-- Product image-->
                    <img class="card-img-top " src="{{book.image.url}}" alt="..." height="500px" />
                </div>
                <form action="" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-outline-dark mt-auto">Add</button>
                </form>

            </div>

        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}